.food_container {
    height: calc(100vh - 24rem);
    background-image: url("../../public/images/bg.png");
    background-size: cover;
}

.food_cards {
    display: flex;
    flex-wrap: wrap;
    row-gap: 3.2rem;
    column-gap: 2.0rem;
    justify-content: center;
    align-items: center;
    padding-top: 8.0rem;
}

.food_card {

    width: 45rem;
    height: 16.7rem;
    border: 0.066rem solid;

    /* border-image-source: radial-gradient(80.69% 208.78% at 108.28% 112.58%,
            #eabfff 0%,
            rgba(135, 38, 183, 0) 100%),
        radial-gradient(80.38% 222.5% at -13.75% -12.36%,
            #98f9ff 0%,
            rgba(255, 255, 255, 0) 100%); */

    background: url("../../public/images/bg.png"),
        radial-gradient(90.16% 143.01% at 15.32% 21.04%,
            rgba(165, 239, 255, 0.2) 0%,
            rgba(110, 191, 244, 0.0447917) 77.08%,
            rgba(70, 144, 213, 0) 100%);
    background-blend-mode: overlay, normal;
    backdrop-filter: blur(13.1842px);

    border-radius: 2.0rem;

    display: flex;
    padding: 0.8rem;



    .food_image img {
        height: 100%;
        object-fit: cover;
        border-radius: 7.5rem;
        overflow: hidden;

    }

    .food_info {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: end;
    }

    .food_info h3 {
        margin-top: -1rem;
        font-size: 1.5rem;
        font-weight: 50%;
    }

    .food_info p {
        margin-top: 0.4rem;
        font-size: 1.2rem;
    }

    .food_info button {
        font-size: 1.5rem;
        display: flex;
        justify-content: center;
        align-items: flex-end;
    }


}